.cartDetails {
  border: 1px solid #ddd;
  width: 300px;
}

.item {
  display: flex;

  border: 1px solid #ddd;
}

.item .title {
  width: 50%;
  padding: 1rem 2rem;
  border-right: 1px solid #ddd;
  font-weight: bold;
  font-size: 1.4rem;
}

.item .value {
  width: 60%;
  padding: 1rem 2rem;
}
