.form {
  width: 50%;
  margin: 20px auto 0;
}

.form-header {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
}

.form-control label {
  display: block;
  font-weight: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control input,
.form-control select,
.form-control textarea {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid blue;
}

.form-control input:focus,
.form-control select:focus {
  outline: none;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.invalid label {
  color: red;
}

.invalid input {
  border: 1px solid red;
  background-color: rgb(243, 137, 137);
}

.message {
  padding: 10px 20px;
  margin-top: 20px;
}
